@font-face {
  font-family: ModestoCondensed;
  src: url('../assets/fonts/modesto-condensed-bold.ttf');
}

@font-face {
  font-family: Bookinsanity;
  src: url('../assets/fonts/Bookinsanity.otf');
}

@font-face {
  font-family: BookinsanityBold;
  src: url('../assets/fonts/Bookinsanity Bold.otf');
}